.NavigationItems {
    padding: 0;
    flex-flow: row;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    height: 25%;
}

@media (min-width: 500px) {
    .NavigationItems{
        flex-flow: column;
    }
}